/* ========================================================== 
                            Resets
========================================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
}

/* ========================================================== 
                        Image Links
========================================================== */

/* https://source.unsplash.com/random?night sky */
/* https://source.unsplash.com/random/?Cryptocurrency&1 */
/* https://picsum.photos/300/300?random=1 */

/* ========================================================== 
                            Fonts
========================================================== */

/* ========================================================== 
                Variables / Custom Properties
========================================================== */

/* ========================================================== 
                            Body
========================================================== */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
    background-color: lightgrey;
}


/* ========================================================== 
                            Content
========================================================== */

section {
    height: 100vh;
    padding: 10vh 5vw;
}

section article {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 5px;
}

section div {
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: #F68176;
    border-radius: 5px;
    transform: scale(2);
    transform-origin: bottom left;
    transition: all 1s ease-in-out;
}

section article:hover div {
    transform: scale(1);
    transform: rotate(90deg);
}